* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    background-color: black;
    height: 90px;
    width: 100%;
    top: 0;
}

.sub-header {
    position: fixed;
    background-color: rgb(255, 0, 0);
    height: 4px;
    width: 100%;
    margin-top: 90px;
    top: 0;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.container {
    margin: 0 150px auto;
    max-width: 1400px;
}

.logo-main {
    width: auto;
    height: 100px;
    margin-bottom: 15px;
    }

.logo-orion {
    display: flex;
    align-items: center;
}

.logo-1 {
    width: auto;
    height: 35px;
}

.main-group {
    display: flex;
    align-items: center;
}

.logo-gerenciador {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logo-2 {
    width: auto;
    height: 35px;
}

.logo-prova {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logo-3 {
    width: auto;
    height: 35px;
}

.logo-correcao {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logo-4 {
    width: auto;
    height: 35px;
}

.logo-configuracao {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.main-ul {
    display: flex;
    list-style: none;
}

.main-ul a {
    display: relative;
    display: inline-block;
    padding: 0rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;  
    cursor: pointer;
}

.main-ul a:hover {
    color: red;
}

.title-banco {
    margin-top: 180px;
    margin-left: 180px;
    font-size: 2.6rem;
    font-weight: 700;
}

.form {
    margin-left: 180px;
    margin-top: 80px;
}

.form-content {
    display: flex;
    align-content: center;
    gap: 10px;
}

.form-content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #3C3C3C;
    font-size: 20px;
}

.main-disciplina {
    display: block;
    max-width: 400px;
    margin-right: 150px;
    width: 100%;
    box-shadow: -1px 1px 5px #5c5c5c;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight:500;
}

input#disciplina {
    max-width: 500px;
    border: solid 1px #000000;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

input#disciplina:hover {
border: solid 1px #da0000;
}

.main-tema {
    display: block;
    max-width: 400px;
    margin-right: 150px;
    width: 100%;
    box-shadow: -1px 1px 5px #5c5c5c;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight:500;
}

input#tema {
    max-width: 500px;
    border: solid 1px #000000;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

input#tema:hover {
border: solid 1px #da0000;
}

.main-dificuldade {
    display: block;
    max-width: 400px;
    width: 100%;
    box-shadow: -1px 1px 5px #5c5c5c;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight:500;
}

select#dificuldade {
    max-width: 500px;
    border: solid 1px #000000;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

select#dificuldade:hover {
border: solid 1px #da0000;
}

.title-lista {
    color: #000000;
    font-weight:700;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 2.6rem;
}

.content {
    background-color: #ffffff;
    width: 1550px;
    height: 650px;
    border-radius: 10px;
    border: solid 1px #CFCFCF;
    box-shadow: -1px 1px 1px 1px #979797;
}

.main-content {
    display: flex;
    margin: auto;
    margin-top: 80px;
}

.sub-content {
    display: relative;
    background-color: #000000;
    width: 1550px;
    height: 100px;
    margin: auto;
    border: solid 1px #CFCFCF;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
}

.secund-nav {
    display: flex;
    align-items: center;
}

.secund-ul {
    display: flex;
    list-style: none;
    gap:5rem;
}

.secund-nav li{
    display: relative;
    color: white;
    font-size: 25px;
    margin: 3rem;
}

.title-cadastrar {
    color: #000000;
    font-weight:700;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 2.6rem;
}
